__pycache__/
model_runs/
data/
data32/
controlnet_samples/
ldm_samples/
interpolation_samples/
processed_images/
yk_models/
vae_verification/
*.png
scripts/nohup.out
logs/
debug_samples/
notebooks/
*.py[cod]
*.ipynb_checkpoints
.env/
*.pth
*.pt
*.log
*.ckpt
/hot/
/scratch/
.vscode/
.idea/
*.txt
*.csv