__pycache__/
data/
controlnet_samples/
interpolation_samples/
scripts/nohup.out
logs/
debug_samples/
notebooks/
*.py[cod]
*.ipynb_checkpoints
.env/
*.pth
*.pt
*.ckpt
/hot/
/scratch/
.vscode/
.idea/
*.csv